<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>LBC</title>
    <link rel="icon" type="image/x-icon" href="http://{{ host }}/LEBONCOIN/resources/assets/leboncoin-logo.png"/>
    <link href="http://{{ host }}/LEBONCOIN/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="http://{{ host }}/LEBONCOIN/resources/assets/css/signin.css" rel="stylesheet">
</head>

<body>
<form class="form-signin" style="text-align: center" action="http://{{ host }}/LEBONCOIN/src/action/user/login.php" method="post">
    <img class="mb-4" src="http://{{ host }}/LEBONCOIN/resources/assets/leboncoin-logo.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <input type="text" id="login" class="form-control" name="login" placeholder="Login" required=""
           autofocus="">
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-block" style="background-color: #f56b2a; color: white" type="submit">Sign in</button>
</form>
</body>
</html>